.forgot-pw-form {
    button {
        padding: 5px 15px;
        background-color: #4a90e2;
        color: white;
        border: none;
        cursor: pointer;
        margin: 10px 5px 0px 5px;

        &:hover {
            background-color: #4a90e2;
        }
    }
}