#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden; /* 루트 레벨에서 오버플로우 방지 */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 화면 전체 높이를 차지 */
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff; /* 헤더 배경색 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 헤더 그림자 */
}
.content {
  flex: 1;
  overflow-y: auto; /* 내용만 스크롤 */
  height: calc(100vh - 헤더높이px); /* 헤더 높이를 제외한 나머지 공간 */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tab-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.tab {
  display: flex;
  min-width: 217px;
  position: relative;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: var(--card-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab.active {
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-dark-color, #9198e5) 100%);
  font-weight: bold;
  border-color: #00796b;
}

.tab-container {
  width: 100%;
  background-color: var(--background-color);
  border-bottom: 1px solid #ddd;
  padding: 24px;
  max-width: 1680px;
  margin: 0 auto;
}



.tab-content {
  flex: 1;
  overflow-y: auto; /* 탭 내용만 스크롤 */
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-dark-color, #2c5ae9) 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
  width: 30px;
  height: 30px;
  margin: 10px 0px 10px 10px;
  padding: 0;
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
  background: none;
  color: #888;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
}

.close-button:hover {
  color: #ff5555;
}


.floating-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.floating-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 20px;
}

.floating-button:hover {
  background-color: #0056b3;
}

.menu-content {
  position: absolute;
  bottom: 70px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.menu-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-content li {
  padding: 8px 0;
  cursor: pointer;
}

.menu-content li:hover {
  background-color: #f1f1f1;
}