// base
@use '@common/assets/styles/base/index' as *;

body {
  background-color: $primary-color;
  font-size: $font-size-base;
}

.header {
  @include flex-center;
  background-color: darken($primary-color, 5%);
}

.container {
  padding: $spacing-lg;

  @include responsive(desktop) {
    display: flex;
  }
}
