@use '@/assets/styles/base/variables' as *;
@use '@/assets/styles/base/mixins' as *;

.footer {
 width: 100%;
 background-color: $background-color;
 border-top: 1px solid $secondary-color;
 padding: $spacing-md 0;
 position: fixed;  // 하단 고정
 bottom: 0;       // 하단에 위치

 &-container {
   @include flex(center, center);  // 중앙 정렬
   max-width: $desktop;
   height: 100px;
   margin: 0 auto;
   padding: 0 $spacing-lg;
   color: $text-color;
   font-size: $font-size-md;
   background-color: #dddddd;
 }

 @include responsive(mobile) {
   padding: $spacing-sm 0;
   
   &-container {
     padding: 0 $spacing-md;
     font-size: $font-size-sm;
   }
 }
}